/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  background: #ff5c5c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  font-size: 16px;
}

/* D3chart.css */
.graph-data {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #6170b6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.graph-data h2 {
  font-size: 24px;
}

.data-card {
  color: white;
  border-radius: 8px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-card ul {
  list-style-type: none;
  padding: 0;
}

.data-card li {
  margin-bottom: 10px;
  font-size: 16px;
}

.data-card strong {
  color: #333;
}

.graph-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-stats {
  background-color: white;
  width: 300px;
  margin-right: -42px;
  display: flex;
  height: 500px;
  flex-direction: row;
  font-size: 15px;
  flex-wrap: wrap;
  align-content: space-around;

}
.data-stats ul{
  background-color: white;
}

.data-stats ul {
  padding: 12px;
  border: 2px solid #ebecf1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
}

.graph-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Tooltip Styles */
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  pointer-events: none; /* Ensure tooltips don't interfere with mouse events */
  opacity: 0; /* Start as invisible */
  transition: opacity 0.3s ease;
  z-index: 1000; /* Ensure it appears on top of other elements */
}

.tooltip.visible {
  opacity: 1; /* Show tooltip */
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.tooltip-arrow.top {
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-arrow.bottom {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #333 transparent;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.modal-content h2{
  color: white;
  margin-left: 50%;
}
.graph{
  display: flex;
}
.exit{
  font-size: 20px;
}