.moderustic-body {
  font-family: "Poppins", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight:bold !important;
  font-style: normal !important;
}

.multi-select-dropdown {
    position: relative;
  
  }
  
  .dropdown-toggle {
    font-family: "Poppins", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: bold !important;
    font-style: normal !important;
    background-color: #f8f9fa !important;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
  }
  
  .multi-select-dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .checkbox-list {
    max-height: 300px;
    overflow-y: auto;
    background-color: #ffffff;
  }
  
  .checkbox-item {
    padding: 5px;
  }
  
  .dropdown-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .dropdown-buttons button {
    margin: 0 5px;
  }
  