.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ececec;

  }
  
  .login-form-container {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 502px;
    text-align: center;
    height: 418px;
  }
  .login-form-container{
		background-color: white;
  }
  .login-logo img {
	width: 138px;
	height: 104.04px;
	margin-bottom: 20px;
  }
  .login-box{
	display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-head {
	font-size: 24px;
	margin-bottom: 32px;
	margin-left: 13px;
	color: black;
    float: left;
	
  }
  
  .styled-input {
width: 415px !important;
height: 45px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #F9F9F9;
	;
	font-size: 16px;
  }

  .login-form{
	margin-left: 13px;
	margin-bottom: 10px;
  }
  
  .login-btn {
	width: 435px !important;
	height: 45px;
	padding: 10px;
	background-color: #d32f2f;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .login-btn:hover {
	background-color: #b71c1c;
  }
  .login-form  input{
	border-radius: 10px;
  }


  /* Custom success alert */
.custom-alert-success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	margin-top: 15px;
  }
  
  /* Custom danger alert */
  .custom-alert-danger {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	width: 415px;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	margin-top: 15px;
  }
  
  /* Close button styling */
  .custom-alert-close {
	background: none;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	float: right;
	cursor: pointer;
  }
  
