.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: black;
	background-color: #f8f9fa;
  }
  
  .login-card {
	border-radius: 15px;
	
	background-color: #fff;
  }
  
  .login-card img {
	max-width: 100px;
  }
  
  .login-card .h1 {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
  }
  
  .login-form {
	width: 100%;
	max-width: 400px;
	margin: auto;
  }
  
  .styled-input {
	border-radius: 10px;
	border: 1px solid #ced4da;
	box-shadow: none;
	padding: 10px;
  }
  
  .styled-input:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	border-color: #80bdff;
  }
  
  .login-btn {
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
	.login-card {
	  width: 90%;
	}
  }
  