body{
  font-family: "Moderustic", sans-serif !important;
  
}

.multi-select-dropdown {
    position: relative;
    display: inline-block;
    font-family: "Moderustic", sans-serif !important;
    font-family: "Moderustic", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight:bold !important;

    font-style: normal !important;
  
 
  }
  
  .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  

  .multi-select-dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .checkbox-list {
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  .dropdown-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .dropdown-buttons button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  

  .dropdown-toggle button{
    background-color: #fff;
    border: none !important;
    padding: 0;
    cursor: pointer;
  }
  .multi-select-dropdown button{
    background-color: #fff;
    border: none !important;
    padding: 0;
    cursor: pointer;
  }
  svg{
    background-color: white !important;
  }
  .search-filter{
    margin-top: 20px;
    width: 70%;
  }
  